<div class="card">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <div class="cta-container"><a href="/housing/{{this._id}}" class="det-link">Details</a></div>
    <div class="card_circle"><img src="{{this.homeImage}}"></div>
</div>