<div class="card-home">
    <h2>{{housings.name}}</h2>
    <div class="cta-container"><a href="#" class="details-link">Details</a></div>
    <div class="card_image"><img src="/images/{{housings.homeImage}}"></div>
</div>